/*
=============== 
Variables
===============
*/
:root {
  --clr-white: #fff;
  --clr-blue: rgb(116, 146, 235);
  --blue-1-backClr: #04174c;
  --blue-2-backClr: #3a69eb;
  --blue-3-backClr: #97abe4;
  --blue-4-backClr: #c4e3f4;
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-5: hsl(205, 78%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --primaryColor: #476a2e;
  --mainSpacing: 0.3rem;
  --mainTransition: all 0.3s linear;
  --mainBorderRadius: 0.25rem;
  --mainWhite: #fff;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBackground: #f1f5f8;
  --spacing: 0.1rem;
  --transition: all 0.3s linear;
}
/* 
====== 
Global Styles 
======
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--mainBlack);
  background: var(--mainBackground);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--slantedFont);
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--mainBlack);
}
img {
  width: 100%;
  display: block;
}
/* ====================start global classes=============================== */
.underline {
  height: 0.25rem;
  width: 5rem;
  background: rgba(2, 2, 37, 0.647);
  margin-left: auto;
  margin-right: auto;
}
.container {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

.section-input {
  height: 50px;
  background: black;
  border-radius: 25%;
  margin-bottom: 10px;
}

/* header */
.header {
  display: flex;
  background-color: black;
  height: 60px;
  padding-top: 1%;
  padding-bottom: 5%;
}
.header span {
  margin-left: 10px;
  margin-right: 10px;
  font-size: xx-large;
  font-weight: 600;
}
.header span a {
  border: solid;
  padding: 6px;
  border-radius: 40%;
  background-color: chocolate;
}
.header nav a {
  color: var(--clr-white);
  margin-left: 10px;
  margin-right: 10px;
  font-size: xx-large;
  font-weight: 600;
  text-transform: capitalize;
  border-radius: 50%;
  /* border: solid; */
  padding: 6px;
}
.header nav a:hover {
  color: rgb(226, 43, 43);
  background-color: yellow;
}
/* home */
.welcome {
  text-align: center;
  margin-top: 25%;
}
/* drugs */
.layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 10px;
  justify-items: center;
}
.drugs {
  text-align: center;
}

.card {
  display: flex;
  background-color: antiquewhite;
  margin-left: 12px;
  margin-right: 10px;
  margin-bottom: 20px;
  justify-content: space-between;
}
.card div {
  background-color: aqua;
  border: solid;
  margin-bottom: 2px;
  padding: 2px;
  font-weight: bold;
}
.card div:hover {
  background-color: rgb(239, 236, 70);
  cursor: pointer;
}
.card .TradeName {
  display: flex;
  background-color: #d5e4ca;
  width: 45%;
  height: fit-content;
}
.card .TradeName button {
  background-color: #476a2e;
  cursor: pointer;
}
.card .TradeName button:hover {
  background-color: #fff;
}
.card .PublicPrice {
  background-color: #d9d582;
  width: 10%;
  height: fit-content;
  text-align: center;
}
.card .ScientificName {
  background-color: #94c1ce;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 45%;
}

table,
th,
td {
  border: 1px solid black;
}

td {
  padding-left: 10px;
}
table {
  margin-right: 13px;
}

.hover {
  cursor: pointer;
}
.hover:hover {
  background-color: red;
}

/* card */
.grid-container {
  display: grid;
  justify-content: center;
  background-color: #2196f3;
  padding: 10px;
}
/*
====== 
Buttons 
======
*/
.btn,
.btn-white,
.btn-primary {
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  color: var(--primaryColor);
  border: 2px solid var(--primaryColor);
  padding: 0.45rem 0.8rem;
  display: inline-block;
  transition: var(--mainTransition);
  cursor: pointer;
  font-size: 0.8rem;
  background: transparent;
  border-radius: var(--mainBorderRadius);
  display: inline-block;
}
.btn:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}
.btn-white {
  background: transparent;
  color: var(--mainWhite);
  border-color: var(--mainWhite);
}
.btn-white:hover {
  background: var(--mainWhite);
  color: var(--primaryColor);
}
.btn-primary {
  background: var(--primaryColor);
  color: var(--mainWhite);
  border-color: transparent;
}
.btn-primary:hover {
  background: var(--primaryLightColor);
  color: var(--primaryColor);
}
.btn-block {
  width: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: var(--lightShadow);
  text-align: center;
}
.btn-details {
  padding: 0.25rem 0.4rem;
}
.btn-details:hover {
  background: var(--primaryLightColor);
  border-color: var(--primaryLightColor);
}

/* 
====== 
Cocktails List 
======
*/

.section {
  padding: 5rem 0;
}
.section-card {
  padding: 1rem 0;
}
.section-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  text-align: center;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}
.cocktails-center {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
  /* align-items: start; */
}
@media screen and (min-width: 576px) {
  .cocktails-center {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}

/* 
====== 
Cocktail
======
*/
.cocktail-section {
  text-align: center;
}

.drink {
  width: var(--smallWidth);
  max-width: var(--fullWidth);
  margin: 0 auto;
  text-align: left;
}
.drink img {
  border-radius: var(--mainBorderRadius);
}
.drink p {
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.8;
}
.drink span {
  margin-right: 0.5rem;
}
.drink-data {
  background: var(--primaryLightColor);
  padding: 0.25rem 0.5rem;
  border-radius: var(--mainBorderRadius);
  color: var(--primaryColor);
}
.drink-info {
  padding-top: 2rem;
}
.drink-info p {
  cursor: pointer;
}
.drink-info p:hover {
  background-color: yellow;
}
@media screen and (max-width: 800px) {
  .ScientificName {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  .drink {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
    align-items: center;
  }
  .drink-info {
    padding-top: 0;
  }
}

/* 
====== 
Form
======
*/
.search {
  margin-top: -6rem;
  padding-bottom: 0;
}

.search-form {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--maxWidth);
  background: var(--mainWhite);
  padding: 2rem 2.5rem;
  text-transform: capitalize;
  border-radius: var(--mainBorderRadius);
  box-shadow: var(--lightShadow);
}

.form-control label {
  display: block;
  margin-bottom: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.25rem;
  color: var(--primaryColor);
}
.form-control input {
  width: 100%;
  border: none;
  border-color: transparent;
  background: var(--mainBackground);
  border-radius: var(--mainBorderRadius);
  padding: 0.5rem;
  font-size: 1.2rem;
}
/* medicine */
.Medicine-section .search-button {
  margin-bottom: 5px;
}
.input-medicine {
  margin-left: 20%;
  width: 60%;
  height: 100%;
  font-size: 50px;
}
@media (max-width: 800px) {
  .input-medicine {
    margin-left: 20%;
    width: 60%;
    height: 100%;
    font-size: 20px;
  }
}
/*
=============== 
NavbarA
===============
*/
nav {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}
.logo {
  height: 40px;
}
.links a {
  color: var(--clr-grey-3);
  font-size: 2rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}
.social-icons {
  display: none;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-container {
  height: 10rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    box-shadow: 5px 5px 10px 1px #000;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 0.5rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  .social-icons {
    display: flex;
  }
  .social-icons a {
    margin: 0 0.5rem;
    color: var(--clr-primary-5);
    transition: var(--transition);
  }
  .social-icons a:hover {
    color: var(--clr-primary-7);
  }
}
@media (max-width: 450px) {
  .card .TradeName {
    display: flex;
    background-color: #d5e4ca;
    width: 97%;
    height: fit-content;
    justify-content: space-between;
  }
  .card .PublicPrice {
    background-color: #d9d582;
    width: 10%;
    height: fit-content;
    text-align: center;
    display: none;
  }
  .card .ScientificName {
    background-color: #94c1ce;
    width: 45%;
    height: fit-content;
    display: none;
  }
}
@media screen and (max-width: 800px) {
  .display-none {
    display: none;
  }
}

/* scientificName page */
.button-navigate {
  margin-bottom: 1%;
  margin-left: 1%;
}
